input[type=text]{
  align-content: center;
  width: 80%;
  padding: 12px 10px;
  display: inline-block;
  margin: 10px;
  border-radius: 4px;
  box-sizing: border-box;
}
h3{
  padding: 20px;
  margin-block: 15px;
}



.formElementDecor{
  width: 60%;
  font-weight: bold;
  align-self: center;
  margin:auto;
}


#form{
  align-content: center;
  padding: 50px;
  border-color: linear-gradient(violet, indigo, blue, green, yellow, orange, red);
}

#uploadForm{
  width: 500px;
  border-width: 600px;
  border-color: #cccccc;
  
}

#h1Form{
  text-align: center;
}


input{
  width:40%;
}



body{
  background-color: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
}

#submitButton{
  color: #09d3ac;
  width: 15%;
  height: 10%;
  margin-left: 45%;
}




/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #09d3ac;
}

