.App {
  text-align: center;
} 

#header-id{
  text-align: left;
  padding-left: 2%;
  padding-top: 1.5%;
}

#pic{

}
.playing{
  color:black; 
-webkit-animation-name: example; /* Safari 4.0 - 8.0 */
-webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
animation-name: example;
animation-duration: 4s;
}

@-webkit-keyframes example {
  from {color: rgb(255, 153, 0);}
  to {color: yellow;}
}

/* Standard syntax */
@keyframes example {
  from {color: rgb(74, 90, 37);}
  to {color: rgb(243, 243, 32);}
}


#grand-search{
  border-radius: 0% !important;

}

#grand-search{ 
  border-radius: 0% !important;
}

.App-link {
  color: #09d3ac;
}

.info {
  text-align: center;
  

}

#export{

  border: solid black;
}

/*--------------------------------------------Login CSS----------------------------------------*/
/*
h1 {
  text-align: center;
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet); 
}
*/

/*------------------------------------------Upload page------------------------------------------*/

#middle-upload{
  width: 60% !important;
  margin: auto !important;
  text-align: left !important;
  
}

#upload-header-id{
  text-align: center !important;
}
/*
input[type=text]{
  align-content: center;
  width: 80%;
  padding: 12px 10px;
  display: inline-block;
  margin: 10px;
  border-radius: 4px;
  box-sizing: border-box;
}
h3{
  padding: 20px;
  margin-block: 15px;
}



.formElementDecor{
  width: 60%;
  color:red;
  font-weight: bold;
  align-self: center;
}


#form{
  align-content: center;
  padding: 50px;
  border-color: linear-gradient(violet, indigo, blue, green, yellow, orange, red);
}

#uploadForm{
  display: block;
  align-items: center;
  padding: 15px;
  width: 200px;
  background-color: red;
}

#h1Form{
  text-align: center;
}

input{
  width:40%;
}



body{
  background-color: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
}



*/

/*--------------------------------------------------------------------*/


.axis {
  shape-rendering: crispEdges;
}
.grid line {
  stroke: #f0eee9;
  stroke-opacity: 0.4;
  shape-rendering: crispEdges;
}
.x.axis line {
  stroke: lightgrey;
}
.x.axis .minor {
  stroke-opacity: .5;
}
.x.axis path {
  display: none;
}
.y.axis line, .y.axis path {
  fill: none;
  stroke: #000;
}
.line{
  fill:none;
  stroke:black; /*will probs be black in the end */
  stroke-width: 2px;
}
.area {
    fill: url(#linear-gradient);
    stroke-width: 0;
}


svg{
  border: solid #dededf !important;
 
  /* display: inline-block !important;
  position: relative;
  right: 110% !important; */
}

.inst-info{
  margin-right: 2%;
  margin-left: 4%;
}

.target{
  padding-bottom: 10% !important;
  margin: 40px !important;
  margin-top: 0px !important;
  border:solid #dededf !important
  
}

.headerForTable{
  text-align: left !important;
}

.ui.button.headerForTable{
  float: left;
}

.inst-dropdown{
  float: right;
  margin-right: .5% !important;
}





path {
  stroke-linejoin: round;
  stroke-linecap: round;
}

.districts {
  fill: #bbb;
}

.districts :hover {
  fill: orange;
}

.district-boundaries {
  pointer-events: none;
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

.state-boundaries {
  pointer-events: none;
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
}



#soscontainer{
 position: relative;
 float: right;
  width: 70%;
  font-size: 14px;
  overflow-x: scroll;
}
#rightCol{
  overflow: auto !important;
  
}



#scrollable-lamps{
  overflow-y: scroll !important;
  padding-bottom: 20% !important;
}

#quickLookupPage{
  padding: 20px !important;
}