h1 {
  text-align: center;
  background: linear-gradient(to right, orange , yellow, green, cyan, blue, violet);
}




/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #09d3ac;
}


